.app-title{
  margin:5%;
  text-align: center;
}

.prescription-thumb{
  height:150px;
  width:150px;
  margin-left:25px;
  cursor: pointer;
}

body{
  background-color: #ccffcc;
}

.null-case{
  text-align: center;
  margin:3%;
}

.pre-image{
  height: 260px;
  width: 260px;
  margin-left:30px;
  margin-bottom:30px;
}

.pre-update-image{
  height: 500px;
  width: 500px;
}

.details-update{
  margin-left:10px;
  margin-top: 2%;
}

.details-text{
  width: 63%;
  white-space: pre-line;
}

.details-button{
  margin-left:200px;
}